$font_family_1: 'Avenir', sans-serif;
$font_family_2: 'Avenir next', sans-serif;
$font_family_3: 'Moderneratrial', sans-serif;
$font_family_4: 'Calibre', sans-serif;
// Yellow gradient
// $linear_gradient_color_1: #f8b500;
// $linear_gradient_color_2: #fceabb;

// Red gradient
//$linear_gradient_color_1: #E07477;
//$linear_gradient_color_2: #f09358;
// Green gradient
$background_color_basic: #fff;
$background_color_header: #f3f1ee;
$background_color_cream: #f3f1ee;
$background_color_dark: #fff;
$background_color_light: #fff;
//$background_color_submit: #fdcd18;
$background_color_submit: #ec1943;
$background_color_footer: #f09358;
$background_color_logo: #fdf6b5;
$background_color_input: #4e4e4e;
$banner_color: #4a4a4a;


$header_title_color: #212121;
$header_content_color: #7c7c7c;
$section_content_color_action: #212121;
$section_content_color_result: #7c7c7c;
$notice_title_color: #212121;
$notice_content_color: #9b9b9b;

$button_color_signup: #7c7c7c;
$button_color_border: #7c7c7c;

$font_color_heading: #545454;
$font_color_description: #9b9b9b;
$font_color_hint: #bababa;

$color_light_violet: #b1d1f7;
$color_dark_red: #bc1a39;
$color_theme_red: #ec1943;
