.battleground__container > div.body > div.battle_core {
  margin-top: 4%;
  border: 1px solid black;
  overflow: hidden; }
  .battleground__container > div.body > div.battle_core > div.battle-task {
    border: 1px solid black;
    display: inline;
    float: left;
    width: 40%; }
  .battleground__container > div.body > div.battle_core > div.part-chooser {
    border: 1px solid black;
    display: inline;
    float: left;
    width: 60%; }
    .battleground__container > div.body > div.battle_core > div.part-chooser > div.title {
      border: 1px solid black;
      display: inline;
      float: left;
      width: 100%;
      padding-left: 2.25vw;
      color: #4a4a4a;
      font-family: "Moderneratrial", sans-serif;
      font-size: 3.5vw;
      font-weight: 600; }
    .battleground__container > div.body > div.battle_core > div.part-chooser > div.parts-container {
      border: 1px solid black;
      display: inline;
      float: left;
      width: 100%; }
      .battleground__container > div.body > div.battle_core > div.part-chooser > div.parts-container > div.cards_container-4 {
        border-radius: 24px;
        width: 75vw;
        display: inline;
        float: left;
        text-align: center; }
        .battleground__container > div.body > div.battle_core > div.part-chooser > div.parts-container > div.cards_container-4 > div.card_row-4 {
          display: inline;
          float: left;
          margin-bottom: 3vw; }
          .battleground__container > div.body > div.battle_core > div.part-chooser > div.parts-container > div.cards_container-4 > div.card_row-4 > div.card-4 {
            border-radius: 8px;
            width: 18.5vw;
            display: inline;
            float: left; }
            .battleground__container > div.body > div.battle_core > div.part-chooser > div.parts-container > div.cards_container-4 > div.card_row-4 > div.card-4 > img.image {
              width: 15vw;
              height: 15vw;
              border-radius: 2.8125vw;
              box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.05);
              cursor: pointer; }
            .battleground__container > div.body > div.battle_core > div.part-chooser > div.parts-container > div.cards_container-4 > div.card_row-4 > div.card-4 > div.title {
              margin-top: 1vw;
              font-family: "Avenir", sans-serif;
              font-size: 1.30vw;
              font-weight: 500;
              color: #4a4a4a;
              text-align: center; }
            .battleground__container > div.body > div.battle_core > div.part-chooser > div.parts-container > div.cards_container-4 > div.card_row-4 > div.card-4 > div.description {
              font-family: "Avenir", sans-serif;
              font-size: 1.2vw;
              font-weight: 400;
              color: #82817d;
              text-align: center; }
    .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container {
      display: inline;
      float: left;
      width: 100%;
      overflow: hidden; }
      .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container > div.footer-image-container {
        display: inline;
        float: left;
        width: 12%;
        padding: 1vw; }
        .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container > div.footer-image-container > img.footer-image {
          display: inline;
          float: left;
          max-width: 100%; }
      .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container > div.footer-image-container.left {
        margin-left: 3%; }
      .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container > div.footer-image-container.right {
        float: right;
        margin-right: 3%; }
      .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container > div.submit-button-wrapper {
        display: inline;
        float: left;
        text-align: center;
        width: 70%;
        padding-top: 3%;
        padding-bottom: 4%;
        overflow: hidden;
        margin-bottom: 4%; }
        .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container > div.submit-button-wrapper > button.submit-button {
          width: 90%;
          padding-left: 1vw;
          padding-right: 1vw;
          padding-top: 0.45vw;
          padding-bottom: 0.45vw;
          color: white;
          background-color: #468ee5;
          border: 2px solid #2966ae;
          border-radius: 1vw;
          box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1);
          font-family: "Avenir", sans-serif;
          font-size: 1.75vw;
          font-weight: 400;
          outline: none; }
        .battleground__container > div.body > div.battle_core > div.part-chooser > div.submit-container > div.submit-button-wrapper > button.submit-button:hover {
          opacity: 0.75; }
