.aae-section__container.footer {
  background-color: #f3f1ee;
  background-image: url("../images/template/neural-network-light.svg");
  padding: 32px; }

.signup-form__content > div.title {
  font-family: "Avenir next", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #212121;
  text-align: center;
  margin-bottom: 32px; }

.signup-form__content > div.notice {
  color: #9b9b9b;
  opacity: 0.8;
  font-size: 14px;
  font-family: "Avenir next", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 32px; }

.signup-form__content > form {
  font-family: "Moderneratrial", sans-serif;
  font-size: 18px;
  font-weight: 300; }
  .signup-form__content > form > input.email {
    background-color: #fff;
    color: #4e4e4e;
    border-radius: 32px;
    border: 2px solid #7c7c7c;
    margin-left: 30%;
    width: 40%;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    text-align: center;
    outline: none; }
  .signup-form__content > form > button.submit-button {
    border-radius: 32px;
    border: 0px solid #d34a5b;
    margin-top: 16px;
    margin-left: 30%;
    width: 40%;
    height: 48px;
    color: #fff;
    background-color: #d34a5b;
    display: block;
    outline: none; }
    .signup-form__content > form > button.submit-button:hover {
      opacity: 0.75;
      cursor: pointer; }

@media (max-width: 1024px) {
  .signup-form__content > form > input.email {
    width: 70%;
    margin-left: 15%; }
  .signup-form__content > form > button.submit-button {
    width: 70%;
    margin-left: 15%; } }

@media (max-width: 768px) {
  .signup-form__content > form > input.email {
    width: 60%;
    margin-left: 20%; }
  .signup-form__content > form > button.submit-button {
    width: 60%;
    margin-left: 20%; } }

@media (max-width: 512px) {
  .signup-form__content > form > input.email {
    width: 80%;
    margin-left: 10%; }
  .signup-form__content > form > button.submit-button {
    width: 80%;
    margin-left: 10%; } }
