@import "../constants/constants.scss";

.aae-section__container.footer {
	background-color: $background_color_header;
  background-image: url('../images/template/neural-network-light.svg');

	//background-image: linear-gradient(
	//	to bottom,
	//	$linear_gradient_color_1,
	//	$linear_gradient_color_2),
	// url('');
	padding: 32px;
}

.signup-form__content {
	>div.title {
		font-family: $font_family_2;
		font-size: 2.5em;
		font-weight: 600;
		color: $notice_title_color;
		text-align: center;
		margin-bottom: 32px;
	}
	>div.notice {
		color: $notice_content_color;
    opacity: 0.8;
		font-size: 14px;
		font-family: $font_family_2;
		font-weight: 400;
		text-align: center;
		margin-top: 32px;
	}
	>form {
		font-family: $font_family_3;
		font-size: 18px;
		font-weight: 300;
		>input.email {
			background-color: #fff;
			color: $background_color_input;
			border-radius: 32px;
			border: 2px solid $button_color_border;
			margin-left: 30%;
			width: 40%;
			height: 50px;
			padding-left: 16px;
			padding-right: 16px;
			display: block;
			text-align: center;
      outline: none;
			//box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		>button.submit-button {
			border-radius: 32px;
			border: 0px solid $background_color_submit;
			margin-top: 16px;
			margin-left: 30%;
			width: 40%;
			height: 48px;
			color: #fff;
			background-color: $background_color_submit;
			display: block;
			outline: none;
			//box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			&:hover {
				opacity: 0.75;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 1024px) {
	.signup-form__content {
		>form {
			>input.email {
				width: 70%;
				margin-left: 15%;
			}
			>button.submit-button {
				width: 70%;
				margin-left: 15%;
			}
		}
	}
}

@media (max-width: 768px) {
	.signup-form__content {
		>form {
			>input.email {
				width: 60%;
				margin-left: 20%;
			}
			>button.submit-button {
				width: 60%;
				margin-left: 20%;
			}
		}
	}
}

@media (max-width: 512px) {
	.signup-form__content {
		>form {
			>input.email {
				width: 80%;
				margin-left: 10%;
			}
			>button.submit-button {
				width: 80%;
				margin-left: 10%;
			}
		}
	}
}
