.aae-section__container.type-locked {
  border-top: 2px solid #f3f1ee;
  border-bottom: 2px solid #f3f1ee;
  padding-bottom: 4%; }
  .aae-section__container.type-locked > div.wrapper > div.feature__action {
    margin-left: 0%; }
  .aae-section__container.type-locked > div.wrapper > div.feature__result {
    margin-left: 0%;
    margin-top: 4%; }
