@import "../../../constants/constants.scss";

.brainpart_stash__container {
  overflow: hidden;
  >div.brainpart_detail_container {
    // border: 2px solid $background_color_cream;
    //border-radius: 24px;
    //margin: 32px;
    //padding: 32px;
    display: inline;
    float: left;
    overflow: hidden;
    width: 76vw;
    >div.image_container{
      display: inline;
      float: left;
      >img{
        height: 24vw;
        width: 24vw;
        padding: 1vw;
        display: inline;
        float:left;
      }
    }
    >div.description_container {
      display: inline;
      float:left;
      margin-left: 1vw;
      width: 48vw;
      >div.name{
        font-family: $font_family_3;
        font-size: 3.5vw;
        margin-top: 1.25vw;
        margin-left: 0.5vw;
        font-weight: 600;
        color:#4a4a4a;
      }
      >div.details {
        margin-left: 0.5vw;
        >div.level{
          overflow: hidden;
          >div.increase-level-txt{
            font-family: $font_family_1;
            font-size: 2.65vw;
            font-weight: 400;
            color:$text_color_cream;
            display: inline;
            float:left;
          }
          >button.increase-level-btn{
            margin-left: 1.5vw;
            font-size: 1.25vw;
            font-weight: 400;
            border-radius: 16px;
            background-color: $color_theme_red;
            padding: 12px;
            color:white;
            display:inline;
            float:left;
          }
        }

        >div.quantity{

        }
        >div.text{
          font-family: $font_family_1;
          font-size: 1.65vw;
          font-weight: 400;
          color:#82817d;
        }
      }

    }
  }

  >div.cards_container-4{
    //border: 2px solid $background_color_cream;
    border-radius: 24px;
    // margin: 0px;
    width:75vw;
    margin-top:6vw;
    //padding: 24px;
    display:inline;
    float:left;
    text-align: center;
    >div.card_row-4 {
      display:inline;
      float:left;
      margin-bottom: 3vw;
      >div.card-4{
        //border: 2px solid $background_color_cream;
        border-radius: 8px;
        width: 18.5vw;
        display:inline;
        float:left;

        >img.image{
          width: 15vw;
          height: 15vw;
        }
        >div.title{
          margin-top: 1vw;
          font-family: $font_family_1;
          font-size: 1.30vw;
          font-weight: 500;
          color: $text_color_blackish;
          text-align: center;
        }
        >div.description{
          font-family: $font_family_1;
          font-size: 1.2vw;
          font-weight: 400;
          color:$text_color_cream;
          text-align: center;
        }
      }
      // >div.card-4:first-child{
      //   margin-left:0vw;
      // }
      // >div.card-4:last-child{
      //   margin-right:0vw;
      // }
    }
  }
}
