.exchange__container {
  overflow: hidden; }
  .exchange__container > div.title {
    display: inline;
    float: left;
    width: 75vw;
    padding-left: 2.25vw;
    color: #4a4a4a;
    font-family: "Moderneratrial", sans-serif;
    font-size: 4.5vw;
    font-weight: 600; }
  .exchange__container > div.description {
    display: inline;
    float: left;
    width: 75vw;
    padding-left: 2.25vw;
    padding-right: 4vw;
    margin-top: 1vw;
    text-align: justify;
    color: #82817d;
    font-family: "Avenir", sans-serif;
    font-size: 2vw;
    font-weight: 400; }
  .exchange__container div.item_exchanger__container {
    margin-top: 2vw;
    border: 1px solid black;
    display: inline;
    float: left;
    width: 100%;
    padding: 2%; }
    .exchange__container div.item_exchanger__container > div.brainfunc_items_container,
    .exchange__container div.item_exchanger__container > div.exchange_buttons_container,
    .exchange__container div.item_exchanger__container > div.alto_items_container {
      border: 1px solid black;
      width: 100%;
      padding: 1vw;
      overflow: hidden; }
      .exchange__container div.item_exchanger__container > div.brainfunc_items_container > div.brainfunc_item_container,
      .exchange__container div.item_exchanger__container > div.brainfunc_items_container > div.button_container,
      .exchange__container div.item_exchanger__container > div.brainfunc_items_container > div.alto_item_container,
      .exchange__container div.item_exchanger__container > div.exchange_buttons_container > div.brainfunc_item_container,
      .exchange__container div.item_exchanger__container > div.exchange_buttons_container > div.button_container,
      .exchange__container div.item_exchanger__container > div.exchange_buttons_container > div.alto_item_container,
      .exchange__container div.item_exchanger__container > div.alto_items_container > div.brainfunc_item_container,
      .exchange__container div.item_exchanger__container > div.alto_items_container > div.button_container,
      .exchange__container div.item_exchanger__container > div.alto_items_container > div.alto_item_container {
        width: 20%;
        padding: 1%;
        display: inline;
        float: left;
        text-align: center; }
