@import "../../../constants/constants.scss";

.neuron_stash__container {
  >div.neuron_cards_container{
    border: 2px solid $background_color_cream;
    border-radius: 8px;
    // margin: 0px;
    width:75vw;
    margin-top:2vw;
    margin-left:16vw;

    // padding: 24px;
    overflow: hidden;

    >div.neuron_card_row {
      >div.neuron_card{
        border: 2px solid $background_color_cream;
        border-radius: 8px;
        width: 21vw;
        display:inline;
        float:left;

        margin-right: 1.5vw;
        margin-left: 1.5vw;
        padding:2vw;
      }
      >div.neuron_card:first-child{
        margin-left: 2.5vw;
      }
    }
  }
}
