.neuron_stash__container {
  overflow: hidden; }
  .neuron_stash__container > div.cards_container-4 {
    border: 2px solid #f3f1ee;
    border-radius: 24px;
    display: inline;
    float: left; }
    .neuron_stash__container > div.cards_container-4 > div.card_row-4 > div.card-4 {
      border: 2px solid #f3f1ee;
      border-radius: 8px;
      width: 18vw;
      display: inline;
      float: left; }
      .neuron_stash__container > div.cards_container-4 > div.card_row-4 > div.card-4 > img.image {
        width: 15vw;
        height: 15vw; }
      .neuron_stash__container > div.cards_container-4 > div.card_row-4 > div.card-4 > div.title {
        margin-top: 1vw;
        font-family: "Avenir", sans-serif;
        font-size: 1.30vw;
        font-weight: 500;
        color: #4a4a4a;
        text-align: center; }
      .neuron_stash__container > div.cards_container-4 > div.card_row-4 > div.card-4 > div.description {
        font-family: "Avenir", sans-serif;
        font-size: 1.2vw;
        font-weight: 400;
        color: #82817d;
        text-align: center; }
