.my_collectibles__container > div.profile_container {
  border-bottom: 2px solid #f3f1ee;
  margin: 32px;
  margin-top: 0px;
  padding: 32px;
  overflow: hidden; }
  .my_collectibles__container > div.profile_container > div.image_container {
    display: inline;
    float: left; }
    .my_collectibles__container > div.profile_container > div.image_container > img {
      height: 12.5vw;
      width: 12.5vw;
      padding: 1vw;
      border-radius: 24px;
      overflow: hidden; }
  .my_collectibles__container > div.profile_container > div.wallet_container {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 1.75vw;
    margin-left: 2vw;
    display: inline;
    float: left; }
    .my_collectibles__container > div.profile_container > div.wallet_container > div.title {
      margin-top: 1.5vw;
      font-weight: 600; }
    .my_collectibles__container > div.profile_container > div.wallet_container > div.wallet_address {
      font-weight: 400;
      font-size: 1.4vw; }
    .my_collectibles__container > div.profile_container > div.wallet_container > div.neurons {
      font-weight: 400;
      font-size: 1.4vw; }
    .my_collectibles__container > div.profile_container > div.wallet_container > div.brainparts {
      font-weight: 400;
      font-size: 1.4vw; }

.my_collectibles__container > div.stash_container {
  border-radius: 24px;
  margin: 32px;
  padding: 24px;
  overflow: hidden;
  overflow: hidden; }
  .my_collectibles__container > div.stash_container > div.sidebar {
    width: 15vw;
    display: inline;
    float: left; }
    .my_collectibles__container > div.stash_container > div.sidebar > div.brainparts_button, .my_collectibles__container > div.stash_container > div.sidebar > div.exchange_button {
      margin-top: 0.75vw; }
  .my_collectibles__container > div.stash_container > div.detail-section {
    width: 75vw;
    display: inline; }
